#countdown{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    justify-content: space-evenly;
    align-items: baseline;
}

.num{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 35px;
    margin: 0;
    padding: 0;
    height: 120px;
    
}

.tex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 30px;
    margin: 0;
    padding: 0;
    height: 120px;
}

#photo{
    height: 200px;
    object-fit: cover;
    padding: 6px;
    width: 200px;
}

.kode-mono-tex1 {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .iceberg-regular {
    font-family: "Iceberg", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  